{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>{{ country.name }}</h1>
  {% if country %}
  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Gross domestic Product</td>
      <td>
	{% if country.gdp == 0 %}
        -
	{% else %}
	${{ (country.gdp / 1000000)|round(2) }}M
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>Tax Revenue (%)</td>
      <td>
	{% if country.tax_rev == 0 %}
        -
	{% else %}
        {{ country.tax_rev }}
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>Population</td>
      <td>{{ country.population }}</td>
    </tr>
    <tr>
      <td>Life Expectancy</td>
      <td>{{ country.life_expect }}</td>
    </tr>
    <tr>
      <td>Gross Tertiary Enrollment (%)</td>
      <td>
	{% if country.grs_trt_enroll == 0 %}
        -
	{% else %}
        {{ country.grs_trt_enroll }}
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>Gross Primary Enrollment (%)</td>
      <td>
	{% if country.grs_prm_enroll == 0 %}
        -
	{% else %}
        {{ country.grs_prm_enroll }}
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>Consumer Price Index (%)</td>
      <td>
	{% if country.cpi == 0 %}
        -
	{% else %}
        {{ country.cpi }}
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>CPI Change (%)</td>
      <td>
	{% if country.cpi_change == 0 %}
        -
	{% else %}
        {{ country.cpi_change }}
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>Tax Rate (%)</td>
      <td>
	{% if country.tax_rate == 0 %}
        -
	{% else %}
        {{ country.tax_rate }}
	{% endif %}
      </td>
    </tr>
  </table>
  {% else %}
   <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Gross domestic Product</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>Tax Revenue (%)</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>Population</td>
      <td>
	-
      </td>
    </tr>
    <tr>
      <td>Life Expectancy</td>
      <td>
	-
      </td>
    </tr>
    <tr>
      <td>Gross Tertiary Enrollment (%)</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>Gross Primary Enrollment (%)</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>Consumer Price Index (%)</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>CPI Change (%)</td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>Tax Rate (%)</td>
      <td>
        -
      </td>
    </tr>
  </table>
  {% endif %}
</div>
{% endblock %}
